In [83]:
import pandas as pd
import numpy as np
import seaborn as sns

In [84]:
df=pd.read_csv('home_price.csv') 
print("\n" + "="*50 + "\n")

==================================================

In [85]:
print("### Outlier Cleaning (Capping) on Numerical Columns ###")
df.describe()
num_cols = df.select_dtypes(include=['int64', 'float64'])
Q1 = num_cols.quantile(0.25)
Q3 = num_cols.quantile(0.75)
IQR = Q3 - Q1

outliers = num_cols[(num_cols < (Q1 - 1.5 * IQR)) | (num_cols > (Q3 + 1.5 * IQR))]

print(outliers.dropna(how="all"))

def clip_outliers(df, columns):
    for col in columns:
        lower = df[col].quantile(0.01)
        upper = df[col].quantile(0.99)
        df[col] = df[col].clip(lower=lower, upper=upper)
    return df

df = clip_outliers(df, ['Fiyat', 'Net_Metrekare', 'Brüt_Metrekare'])
df.describe()

### Outlier Cleaning (Capping) on Numerical Columns ###
       Net_Metrekare  Brüt_Metrekare  Oda_Sayısı      Fiyat  \
2                NaN             NaN         NaN        NaN
3                NaN             NaN         NaN        NaN
5                NaN             NaN         NaN        NaN
6                NaN             NaN         NaN        NaN
7                NaN           750.0         NaN        NaN
...              ...             ...         ...        ...
20269          256.0             NaN         NaN        NaN
20287          674.0           675.0         NaN        NaN
20291            NaN           378.0         NaN        NaN
20302            NaN             NaN         NaN  6850000.0
20311          463.0           464.0         NaN  7850000.0

       Binanın_Kat_Sayısı  Banyo_Sayısı
2                    14.0           NaN
3                    14.0           NaN
5                    13.0           NaN
6                    14.0           NaN
7                     NaN           NaN
...                   ...           ...
20269                 NaN           NaN
20287                 NaN           NaN
20291                 NaN           NaN
20302                 NaN           NaN
20311                 NaN           NaN

[4569 rows x 6 columns]

,Net_Metrekare,Brüt_Metrekare,Oda_Sayısı,Fiyat,Binanın_Kat_Sayısı,Banyo_Sayısı
count,20326.000000,20326.000000,20066.00000,2.032600e+04,20326.000000,20280.000000
mean,128.636721,154.662600,3.68940,3.128497e+06,5.185969,1.492751
std,69.270094,108.833169,1.11206,2.988716e+06,3.051288,0.795747
min,40.000000,47.000000,1.00000,6.112500e+05,1.000000,0.000000
25%,90.000000,100.000000,3.00000,1.640000e+06,3.000000,1.000000
50%,120.000000,135.000000,4.00000,2.300000e+06,4.000000,1.000000
75%,150.000000,170.000000,4.00000,3.300000e+06,6.000000,2.000000
max,500.000000,833.000000,12.00000,1.983750e+07,15.000000,6.000000